{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "rokulib": "./submodules/roku-automation",
          "underscore": "lodash"
        }
      }
    ]
  ]
}